<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/unit/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>../woocommerce-conector/includes</directory>
        </include>
    </source>
    <php>
        <const name="ABSPATH" value="/tmp/wp/"/>
        <const name="WPINC" value="wp-includes"/>
    </php>
</phpunit>
